doctype html
html(leng='en')
    head
        title #{locals.title}
        style
            include ./signUpComplete.css
            inlcude ../../styles/reset.css
    body
        #signup-complete-sction
            #signup-complete-wrap
                .title-wrap
                    img.title(
                        src="https://ceo.baemin.com/lockpath/images/logo-ceo.png"
                        alt=""
                    )
                    .suv-title 회원이 되셨습니다.
                .move-main-link
                    a(href="/") 메인으로 &rarr;
                .user-info-wrap
                    .name.row
                        .key 이름
                        .value #{locals.name}
                    .id.row
                        .key 아이디
                        .value #{locals.id}
                    .email.row
                        .key 이메일
                        .value #{locals.email}
                    .phone.row
                        .key 휴대폰
                        .value #{locals.phone}
                .small-messsage &centerdot;&#9;위 내용은
                    u 내 정보관리
                    span  에서 수정하실 수 있습니다.