mixin input(name, type, placeholder, min, max)
  .input-box.red
    input(
    class=name
    type=type
    placeholder=placeholder
    minlength=min
    maxlength=max
    )
    label 입력하신 아이디로 사용이 가능합니다.
