doctype html
html(lang='en')
    head
        title #{locals.title}
        meta( name='viewport', content='width=device-width, initial-scale=1.0')
        style
            include ./signUp.css
            include ../../styles/reset.css
        script(type='module')
            include ./signUp.js
    body
        #signup-wrap
            img.title(
                src="https://ceo.baemin.com/lockpath/images/logo-ceo.png"
                alt=""
            )
            form
                .user-info-wrap.section
                    .please-info 필수 정보를 입력해주세요.
                    include ../../components/input/input.pug
                    style
                        include ../../components/input/input.css
                    //+input("id","text", "아이디 *(4~20)", "4", "20")
                    input.id(
                        type="text"
                        placeholder="아이디 *(4~20)"
                        minlength="4"
                        maxlength="20"
                    )
                    label.id-msg
                    //label 입력하신 아이디로 사용이 가능합니다.
                    +input("password", "password", "비밀번호*(영문+숫자, 8~20자)", "8", "20")
                    +input("password2", "password", "비밀번호 재확인", "8", "20")
                    .email-wrap
                        +input("email-top", "text", "이메일 앞자리*", "8", "20")
                        .email @
                        +input("c", "text", "이메일 뒷자리*", "8", "20")
                    select#email-select(
                        name="이메일"
                    )
                        option(
                            value=""
                            selected="true"
                        ) 이메일 선택
                        option(
                            value="google"
                        ) gmail.com
                        option(
                            value="naver"
                        ) naver.com
                        option(
                            value="woowa"
                        ) woowa.com
                        option(
                            value="직접입력"
                        ) 직접입력
                    +input("name", "text", "이름*")
                    .phone-auth-wrap
                        .phone-input
                            +input("phone", "number", "휴대폰*")
                            input.phone-auth-button(
                                type="button"
                                value="인증받기"
                            )
                            input.blue-button.hide(
                                type="button"
                                value="재전송"
                            )
                        .auth-input.hide
                            +input("auth-number", "number", "인증번호 6자리 입력", "6", "6")
                            input.blue-button.hide(
                                type="button"
                                value="확인"
                            )
                    ul
                        li 인증번호 전송은 통신사에 따라 최대 1분까지 소요될 수 있습니다.
                        li 인증번호가 도착하지 않을 경우 '인증번호 재전송'을 눌러주세요.

                .address-wrap.section
                    .checkbox-wrap
                        input.check-select-info(
                            type="checkbox"
                            checked=false
                        )
                        div 선택 정보를 입력하시겠어요?
                        div.underline.small-font 내용보기
                    .postal-code-wrap
                        .search-postal-code
                            +input("address-number", "text", "우편번호")
                            input.blue-button(
                                type="button"
                                value="주소찾기"
                            )
                        +input("address-text", "text", "주소")
                        +input("address-detail-text", "text", "상세주소")


                .agree-wrap
                    .checkbox-wrap
                        input(
                            type="checkbox"
                            checked=false
                        )
                        div 전체 약관에 동의합니다
                    .checkbox-wrap
                        input(
                            type="checkbox"
                            checked=false
                        )

                        div 필수 항목에 동의합니다.
                            .agree-underline-section
                                .underline 배민사장님광장 이용약관
                                .underline 개인정보 수집이용 동의
                    .checkbox-wrap
                        input(
                            type="checkbox"
                            checked=false
                        )
                        div 광고성 정보 수신 동의 (선택)
                    .age-cutline.small-font 만 14세 이상 회원만 가입 가능합니다.
                        .underline 내용보기
                input.finish-button(
                    type="submit"
                    value="가입완료"
                )